In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data= pd.read_excel("/content/Telco-Customer-Churn.xlsx")
data

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95      1889.50     No
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
...          ...     ...            ...  ...            ...          ...    ...
7038  6840-RESVB    Male              0  ...          84.80      1990.50     No
7039  2234-XADUH  Female              0  ...         103.20      7362.90     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7041  8361-LTMKD    Male              1  ...          74.40       306.60    Yes
7042  3186-AJIEK    Male              0  ...         105.65      6844.50     No

[7043 rows x 21 columns]

In [ ]:
# 1.Customers owns their connection

In [ ]:
data.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [ ]:
data['gender'].value_counts()

Male      3555
Female    3488
Name: gender, dtype: int64

In [ ]:
data

In [ ]:
data1 = data[data["Churn"]=="No"]
data1

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0     7590-VHVEG  Female              0  ...          29.85        29.85     No
1     5575-GNVDE    Male              0  ...          56.95      1889.50     No
3     7795-CFOCW    Male              0  ...          42.30      1840.75     No
6     1452-KIOVK    Male              0  ...          89.10      1949.40     No
7     6713-OKOMC  Female              0  ...          29.75       301.90     No
...          ...     ...            ...  ...            ...          ...    ...
7037  2569-WGERO  Female              0  ...          21.15      1419.40     No
7038  6840-RESVB    Male              0  ...          84.80      1990.50     No
7039  2234-XADUH  Female              0  ...         103.20      7362.90     No
7040  4801-JZAZL  Female              0  ...          29.60       346.45     No
7042  3186-AJIEK    Male              0  ...         105.65      6844.50     No

[5174 rows x 21 columns]

In [ ]:
data1["gender"].value_counts()

Male      2625
Female    2549
Name: gender, dtype: int64

In [ ]:
data1["SeniorCitizen"].value_counts()

0    4508
1     666
Name: SeniorCitizen, dtype: int64

In [ ]:
 #2.Customer left their connection

In [ ]:
data2=data[data["Churn"]=="Yes"]
data2

      customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
2     3668-QPYBK    Male              0  ...          53.85       108.15    Yes
4     9237-HQITU  Female              0  ...          70.70       151.65    Yes
5     9305-CDSKC  Female              0  ...          99.65       820.50    Yes
8     7892-POOKP  Female              0  ...         104.80      3046.05    Yes
13    0280-XJGEX    Male              0  ...         103.70      5036.30    Yes
...          ...     ...            ...  ...            ...          ...    ...
7021  1699-HPSBG    Male              0  ...          59.80       727.80    Yes
7026  8775-CEBBJ  Female              0  ...          44.20       403.35    Yes
7032  6894-LFHLY    Male              1  ...          75.75        75.75    Yes
7034  0639-TSIQW  Female              0  ...         102.95      6886.25    Yes
7041  8361-LTMKD    Male              1  ...          74.40       306.60    Yes

[1869 rows x 21 columns]

In [ ]:
data2["gender"].value_counts()

Female    939
Male      930
Name: gender, dtype: int64

In [ ]:
data2["SeniorCitizen"].value_counts()

0    1393
1     476
Name: SeniorCitizen, dtype: int64

In [ ]:
# 3. Payment Method

In [ ]:
data["PaymentMethod"].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [ ]:
data['Contract'].unique()

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [ ]:
#Preference  payment method based on Churn

In [ ]:
data1["PaymentMethod"].value_counts(normalize=True)*100

Mailed check                 25.202938
Electronic check             25.009664
Credit card (automatic)      24.932354
Bank transfer (automatic)    24.855044
Name: PaymentMethod, dtype: float64

In [ ]:
#Preference payment metho based on Contract

In [ ]:
data2["PaymentMethod"].value_counts(normalize=True)*100

Electronic check             57.303371
Mailed check                 16.479401
Bank transfer (automatic)    13.804173
Credit card (automatic)      12.413055
Name: PaymentMethod, dtype: float64

In [ ]:
data3 = data[data['Contract'] == 'Month-to-month'] 
data4 = data[data['Contract'] == 'One year']     
data5 = data[data['Contract'] == 'Two year']

In [ ]:
#Preference payment method based on having contract"Month_to_Month" in percentage

In [ ]:
data3["PaymentMethod"].value_counts(normalize=True)*100

Electronic check             47.741935
Mailed check                 23.045161
Bank transfer (automatic)    15.200000
Credit card (automatic)      14.012903
Name: PaymentMethod, dtype: float64

In [ ]:
#Preerence payment method based on customers having contract "One Year" in percentage

In [ ]:
data4["PaymentMethod"].value_counts(normalize=True)*100

Credit card (automatic)      27.019688
Bank transfer (automatic)    26.544467
Electronic check             23.557366
Mailed check                 22.878479
Name: PaymentMethod, dtype: float64

In [ ]:
#Preference of payment method base on customers having contract "Two Year" in percentage

In [ ]:
data5["PaymentMethod"].value_counts(normalize=True)*100

Credit card (automatic)      34.277286
Bank transfer (automatic)    33.274336
Mailed check                 22.536873
Electronic check              9.911504
Name: PaymentMethod, dtype: float64

In [ ]:
# 4.Internet service preference by gender based on churn status.

In [ ]:
data['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [ ]:
#Internet service preference by male customers own their service in percentage.

In [ ]:
data6=data1[data["gender"]=="Male"]
data6['InternetService'].value_counts(normalize=True)*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

DSL            37.828571
Fiber optic    34.666667
No             27.504762
Name: InternetService, dtype: float64

In [ ]:
# Internet service preference by Male customers left their service in percentage
data7 = data2[data["gender"] == "Male"]
data7['InternetService'].value_counts(normalize = True)*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

Fiber optic    68.064516
DSL            25.806452
No              6.129032
Name: InternetService, dtype: float64

In [ ]:
# Internet service preference by Female customers own their service in percentage

data8 = data1[data["gender"] == "Female"]
data8['InternetService'].value_counts(normalize = True)*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

DSL            38.014908
Fiber optic    34.876422
No             27.108670
Name: InternetService, dtype: float64

In [ ]:
## Internet service preference by Female customers left their service in percentage

data9 = data2[data["gender"] == "Female"]
data9['InternetService'].value_counts(normalize = True)*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

Fiber optic    70.713525
DSL            23.322684
No              5.963791
Name: InternetService, dtype: float64

In [ ]:
# 5. Explain the descriptive statistics of “TotalCharges” based on Gender,Contract, Payment Method

In [ ]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [ ]:
#the descriptive statistics of “TotalCharges” based on Male Customers
d1 = data[data['gender']== 'Male']
d1['TotalCharges'].describe()

count    3555.000000
mean     2291.680667
std      2273.095299
min        18.800000
25%       399.275000
50%      1406.000000
75%      3778.100000
max      8684.800000
Name: TotalCharges, dtype: float64

In [ ]:
#the descriptive statistics of “TotalCharges” based on Female Customers
d2 = data[data['gender'] == 'Female']
d2['TotalCharges'].describe()

count    3488.000000
mean     2289.338308
std      2276.695359
min        18.850000
25%       403.300000
50%      1389.050000
75%      3834.062500
max      8672.450000
Name: TotalCharges, dtype: float64

In [ ]:
#the descriptive statistics of “TotalCharges” based on Customers having contract of month-to-month
d3 = data[data['Contract'] == "Month-to-month"]
d3['TotalCharges'].describe()

count    3875.000000
mean     1369.254581
std      1613.879008
min        18.850000
25%       160.100000
50%       679.550000
75%      2066.500000
max      8061.500000
Name: TotalCharges, dtype: float64

In [ ]:
#the descriptive statistics of “TotalCharges” based on Customers having contract of one year
d4 = data[data['Contract'] == "One year"]
d4["TotalCharges"].describe()

count    1473.000000
mean     3038.377461
std      2233.477741
min        18.800000
25%       989.450000
50%      2658.400000
75%      4860.350000
max      8684.800000
Name: TotalCharges, dtype: float64

In [ ]:
#the descriptive statistics of “TotalCharges” based on Customers having contract of two year
d5 = data[data['Contract'] == "Two year"]
d5['TotalCharges'].describe()

count    1695.000000
mean     3746.752383
std      2582.454154
min        20.350000
25%      1280.125000
50%      3638.250000
75%      6044.300000
max      8672.450000
Name: TotalCharges, dtype: float64

In [ ]:
#the descriptive statistics of “TotalCharges” based on Customers having mailed check Payment Method 
d6 = data[data['PaymentMethod'] == 'Mailed check']
d6['TotalCharges'].describe()

count    1612.000000
mean     1083.236973
std      1509.101844
min        18.800000
25%       116.937500
50%       473.675000
75%      1316.000000
max      8476.500000
Name: TotalCharges, dtype: float64

In [ ]:
#the descriptive statistics of “TotalCharges” based on Customers having Electronic check Payment Method
d7 = data[data['PaymentMethod'] == 'Electronic check']
d7['TotalCharges'].describe()

count    2365.000000
mean     2090.868182
std      2155.435320
min        18.850000
25%       308.050000
50%      1253.900000
75%      3340.550000
max      8564.750000
Name: TotalCharges, dtype: float64

In [ ]:
#checking unique value of "payment methods
data["PaymentMethod"].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [ ]:
#the descriptive statistics of “TotalCharges” based on Customers having Bank transfer Payment Method
d8 = data[data['PaymentMethod'] == 'Bank transfer (automatic)']
d8['TotalCharges'].describe()

count    1544.000000
mean     3083.566023
std      2360.362773
min        19.250000
25%      1052.387500
50%      2479.500000
75%      4948.337500
max      8684.800000
Name: TotalCharges, dtype: float64

In [ ]:
#the descriptive statistics of “TotalCharges” based on Customers having Credit Card  Payment Method
d9 = data[data['PaymentMethod'] == 'Credit card (automatic)']
d9['TotalCharges'].describe()

count    1522.000000
mean     3074.920894
std      2410.536742
min        19.300000
25%       989.400000
50%      2454.175000
75%      5016.550000
max      8670.100000
Name: TotalCharges, dtype: float64